@import "config.scss";
@import "keyframes.scss";

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  list-style-type: none;
  border: none;
  transition: all 0.1s ease;
}

a,
button,
li,
details {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover,
button:hover,
input[type="button"]:hover,
summary:hover {
  filter: brightness(40%);
}

h1 {
  color: whitesmoke;
  font-family: "Poppins", Arial, sans-serif;
}
// utillity classes

.container {
  @include boxSize($width: 100%);
  @include alignment($display: flex, $direction:column, $justify: center, $align: center, $textAlign: center);
  padding: 1rem;
  margin-top: 3.5rem;
  flex: 1;
  overflow: auto;
}

.flex {
  display: flex;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.center {
  margin: 0 auto;
}

// animations transitions

.fade-enter-active {
  animation: fade 800;
}

.fade-leave-active {
  animation: fade 800 reverse;
}